{% include base_path %}

{% if page.previous or page.next %}
  <nav class="pagination">
    {% if page.next %}
      <a href="{{ base_path }}{{ page.next.url }}" class="pagination--pager" title="{{ page.next.title | markdownify | strip_html }}"> NEWER POSTS </a>
    {% else %}
      <a href="#" class="pagination--pager disabled"> None </a>
    {% endif %}
    {% if page.previous %}
      <a href="{{ base_path }}{{ page.previous.url }}" class="pagination--pager" title="{{ page.previous.title | markdownify | strip_html }}"> OLDER POSTS </a>
    {% else %}
      <a href="#" class="pagination--pager disabled"> None </a>
    {% endif %}
  </nav>
{% endif %}